<body>
  <!-- <app-navbar></app-navbar> -->
    <header class="nav-scrolled">
		<div class="logo">
		<img src="./../../assets/logo.jpg"width="40"height="40">
      <a href="/" class="site-logo" aria-label="homepage" style="letter-spacing: 5px;"><b>START-UP</b></a></div>
      <nav class="main-nav">
        <ul class="nav__list">
          <li class="nav__list-item">
            <a href="#" class="nav__link">À propos</a>
          </li>
          <li class="nav__list-item">
            <a href="#" class="nav__link">Découvrir</a>
          </li>
          <li class="nav__list-item"><a href="#" class="nav__link">Contact</a></li>
        </ul>
      </nav>
      <nav class="account">
        <ul class="nav__list">
          <li class="nav__list-item">
            <a class="nav__link nav__link--btn" href="/login">Se connecter</a>
          </li>
          <li class="nav__list-item">
            <a
              class="nav__link nav__link--btn nav__link--btn--highlight" href="/register">S'inscrire</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="home-intro">
		  <p>Avoir du talent, c'est avoir foi en soi-même, en ses propres forces.</p>
        <h1><b style="word-spacing: 6px;">Bienvenue sur  <b style="letter-spacing: 5px;"><b style="color: rgb(255, 153, 0)">START</b>-UP</b> </b></h1><br>
		<p class="description" style="color: black;">
		</p>
      <div class="mdh-expandable-search mdl-cell--hide-phone">
        <mat-icon>search</mat-icon>
        <form action="#">
          <input type="text" placeholder="Chercher" size="40">
        </form>
      </div>
      </section>

      <div class="home-about">
        <h1 style="text-align: center;"><b style="text-align: center;font-family: 'Times New Roman', Times, serif;">Ce que nous differencie !</b></h1>
      <br><br><br>
        <table class="columns">
          <tr>
          <td>
            <h3 style="font-size: 22px;"><img src="https://img.icons8.com/ios-filled/50/000000/foundation.png" width="55" height="55"/><b>    Construisez votre carrière.</b></h3>
            <p>
              Présentez-vous comme un professionnel. 
              Affichez vos services, 
               une liste d'annuaire et soyez embauché, 
              présentez vos articles et organisez des galeries pour mettre en valeur votre travail.
            </p>
          </td>
          <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>  <td></td>  <td></td>  <td></td>  <td></td> 
          <td>
            <h3 style="font-size: 22px;"><img src="https://img.icons8.com/ios-filled/50/000000/performance-macbook.png" width="55" height="55"/> <b>     Poursuivez vos performances.</b></h3>
            <p>
              Avec les statistiques, vous obtenez des informations précieuses sur 
              les performances de vos photos et votre classement par rapport aux autres 
              utilisateurs de la communauté.
            </p>
          </td>
        </tr>
        </table>
      </div>

      <div class="home-more-stuff">
        <div class="more-stuff-grid">
          <img
            src="https://unsplash.it/400"
            alt=""
            class="slide-in from-left"
          />
          <p class="slide-in from-right">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
            quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
            omnis sapiente neque cumque consequuntur reiciendis deserunt.
            Dolorem vero exercitationem consequuntur, eligendi cupiditate
            debitis facilis quibusdam magni. Eveniet.
          </p>
        </div>
        <div class="more-stuff-grid">
          <p class="slide-in from-left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
            quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
            omnis sapiente neque cumque consequuntur reiciendis deserunt.
            Dolorem vero exercitationem consequuntur, eligendi cupiditate
            debitis facilis quibusdam magni. Eveniet.
          </p>
          <img
            src="https://unsplash.it/401"
            alt=""
            class="slide-in from-right"
          />
        </div>
        <div class="more-stuff-grid">
          <img src="//unsplash.it/400" alt="" class="slide-in from-left" />
          <p class="slide-in from-right">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
            quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
            omnis sapiente neque cumque consequuntur reiciendis deserunt.
            Dolorem vero exercitationem consequuntur, eligendi cupiditate
            debitis facilis quibusdam magni. Eveniet.
          </p>
        </div>
        <div class="more-stuff-grid">
          <p class="slide-in from-left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
            quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
            omnis sapiente neque cumque consequuntur reiciendis deserunt.
            Dolorem vero exercitationem consequuntur, eligendi cupiditate
            debitis facilis quibusdam magni. Eveniet.
          </p>
          <img
            src="https://unsplash.it/401"
            alt=""
            class="slide-in from-right"
          />
        </div>
        <div class="more-stuff-grid">
          <img src="//unsplash.it/400" alt="" class="slide-in from-left" />
          <p class="slide-in from-right">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
            quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
            omnis sapiente neque cumque consequuntur reiciendis deserunt.
            Dolorem vero exercitationem consequuntur, eligendi cupiditate
            debitis facilis quibusdam magni. Eveniet.
          </p>
        </div>
        <div class="more-stuff-grid">
          <p class="slide-in from-left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
            quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
            omnis sapiente neque cumque consequuntur reiciendis deserunt.
            Dolorem vero exercitationem consequuntur, eligendi cupiditate
            debitis facilis quibusdam magni. Eveniet.
          </p>
          <img
            src="https://unsplash.it/401"
            alt=""
            class="slide-in from-right"
          />
        </div>
      </div>
    </main>
    <script src="js/observers.js"></script>
    <footer class="foot">
      <div class="footer-content">
        <p style="color: white;">Rejoingez nous sur !</p>
        <ul>
          <li><a href=""><img src="https://img.icons8.com/fluent/48/ffffff/facebook-new.png"/></a></li>
          <li><a href=""><img src="https://img.icons8.com/fluent/48/ffffff/instagram-new.png"/></a></li>
          <li><a href=""><img src="https://img.icons8.com/fluent/48/ffffff/linkedin.png"/></a></li>
          <li><a href=""><img src="https://img.icons8.com/fluent/48/ffffff/twitter.png"/></a></li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p style="color: white;letter-spacing: 10px;">Copyright &copy;2021 <b style="color: rgb(255, 153, 0);font-family: 'Times New Roman', Times, serif;">START</b>-UP</p>
      </div>
    </footer>
  </body>
