<br><br>
<div class="form-container">
    <h1 class="mod" style="font-family:'Times New Roman', Times, serif; text-align: center;"> Données Personnelles
    </h1><br><br>

    <mat-label> Nom : {{tab[2]}} </mat-label>
    <mat-divider></mat-divider><br>
    <mat-label> Prenom : {{tab[3]}} </mat-label>
    <mat-divider></mat-divider><br>
    <mat-label> Date de naissance : {{tab[6]}} </mat-label>
    <mat-divider></mat-divider><br>
    <mat-label> Telephone : {{tab[4]}} </mat-label>
    <mat-divider></mat-divider><br>
    <mat-label> E-mail : {{tab[5]}} </mat-label>
    <mat-divider></mat-divider><br>


    <br>
    <button mat-flat-button [mat-dialog-close] class="log">Close</button>
    <br><br><br>
</div>