  <div class="page-layout simple fullwidth" fxLayout="column" id="bg">
  <!-- HEADER -->
  <div class="container">
  <div class="row justify-content-md-center" id="bm">
  <div class="col-4"><br>
    <h1>Liste des utilisateurs</h1>
  </div>
  </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content p-24">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Chercher">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort width="100%">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    <!-- nom column -->
    <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
    <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
    </ng-container>
  <!-- prenom Column -->
    <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenom </th>
    <td mat-cell *matCellDef="let row"> {{row.prenom}} </td>
    </ng-container>
   <!-- date de naissance Column -->
    <ng-container matColumnDef="dateNaissance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de naissance </th>
    <td mat-cell *matCellDef="let row" > {{row.dateNaissance}} </td>
    </ng-container>
   <!-- email Column -->
    <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
    <td mat-cell *matCellDef="let row" > {{row.email}} </td>
    </ng-container>
   <!-- telephone Column -->
    <ng-container matColumnDef="telephone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone </th>
    <td mat-cell *matCellDef="let row" > {{row.telephone}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><b> Desactiver</b> </th>
    <td mat-cell *matCellDef="let row" >

    <button class="btn btn-danger btn-xs deletebtn" id="delete"
            data-title="Delete" data-toggle="modal"
            data-target="#deletemodal" (click)="onDesactivate(row.id)">
            <span class="material-icons">
              block
              </span>
    </button>
    <simple-notifications></simple-notifications>
    </td>
    </ng-container>
  
    <ng-container matColumnDef="action1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b> Edit</b> </th>
      <td mat-cell *matCellDef="let row">
      <button class="btn btn-success btn-xs editbtn" id="edit"
              data-title="Edit" data-toggle="modal"
              data-target="#editemodal"  (click)="onEdit(row.id)">
                <span class="material-icons">
                  create
                  </span>
                  
      </button>
      
      </td>
      </ng-container> 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    </table>
  </div>
  </div>
  </div>